@import '~$styles/rem';
@import '~$styles/colors';

.base {
  cursor: pointer;
  color: $white;
  height: rem(58px);
  border-radius: rem(29px);
  width: fit-content;
  padding-left: rem(80px);
  padding-right: rem(80px);
  font-weight: bold;
  background-color: $primary;
}
